<template>
	<div>
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-8">
						<h5 class="card-title">Client List</h5>
					</div>
					<div class="col-4 text-right">
						<button
							type="button"
							class="btn btn-sm btn-primary"
							data-toggle="modal"
							data-target="#newClientModal"
						>
							New Client
						</button>
					</div>
				</div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Email</th>
							<th class="text-right">Actions</th>
						</tr>
					</thead>

					<tbody>
						<client-component
							v-for="client in clients"
							v-bind:key="client.id"
							v-bind:client="client"
						></client-component>
					</tbody>
				</table>
			</div>
		</div>

		<div
			class="modal fade"
			id="newClientModal"
			tabindex="-1"
			role="dialog"
			aria-labelledby="newClientModalTitle"
			aria-hidden="true"
		>
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="newClientModalTitle">New Client</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group row">
								<label for="name" class="col-sm-2 col-form-label">Name</label>
								<div class="col-sm-8">
									<input
										v-model.trim="$v.client.name.$model"
										type="text"
										name="name"
										class="form-control"
										:class="{ 'is-invalid': $v.client.name.$error }"
										id="name"
									/>
								</div>
							</div>

							<div class="form-group row">
								<label for="email" class="col-sm-2 col-form-label">Email</label>
								<div class="col-sm-8">
									<input
										v-model.trim="$v.client.email.$model"
										type="email"
										name="email"
										class="form-control"
										:class="{ 'is-invalid': $v.client.email.$error }"
										id="email"
									/>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button v-bind:disabled="$v.$invalid" @click="saveClient" type="button" class="btn btn-primary">
							Save changes
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators';
//import ClientComponent from './ClientComponent';
export default {
	data() {
		return {
			isLoading: true,
			client: {
				name: '',
				email: ''
			},
			clients: []
		};
	},
	validations: {
		client: {
			name: {
				required
			},
			email: {
				required,
				email
			}
		}
	},
	created() {
		axios.get(route('api.clients.index').url()).then(response => {
			this.isLoading = false;
			this.clients = response.data;
		});
	},
	methods: {
		saveClient(e) {
			axios
				.post(route('api.clients.store').url(), this.client)
				.then(response => {
					$('#newClientModal').modal('hide');
					this.clients.push(response.data);
					swal('Good job!', 'Client created!', 'success');
				})
				.catch(error => {
					let data = error.response.data;
				});
		}
	}
};
</script>
