<template>
	<tr v-if="!isDeleted">
		<td>{{ client.id }}</td>
		<td>{{ client.name }}</td>
		<td>{{ client.email }}</td>
		<td class="text-right">
			<button @click="openModal()" type="button" class="btn btn-sm btn-outline-success">Edit</button>
			<button @click="deleteClient()" type="button" class="btn btn-sm btn-outline-danger">Delete</button>
		</td>

		<div
			class="modal fade"
			:id="modalId"
			tabindex="-1"
			role="dialog"
			aria-labelledby="editClientModalTitle"
			aria-hidden="true"
		>
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="editClientModalTitle">Edit Client</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form>
							<div class="form-group row">
								<label for="name" class="col-sm-2 col-form-label">Name</label>
								<div class="col-sm-8">
									<input
										v-model.trim="$v.name.$model"
										type="text"
										name="name"
										class="form-control"
										:class="{ 'is-invalid': $v.name.$error }"
									/>
								</div>
							</div>

							<div class="form-group row">
								<label for="email" class="col-sm-2 col-form-label">Email</label>
								<div class="col-sm-8">
									<input
										v-model.trim="$v.email.$model"
										type="email"
										name="email"
										class="form-control"
										:class="{ 'is-invalid': $v.email.$error }"
									/>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button
							v-bind:disabled="$v.$invalid"
							@click="updateClient()"
							type="button"
							class="btn btn-primary"
						>
							Save changes
						</button>
					</div>
				</div>
			</div>
		</div>
	</tr>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators';
export default {
	props: {
		client: Object
	},
	data() {
		return {
			modalId: 'editClientModal' + this.client.id,
			isDeleted: false,
			isUpdated: false,
			name: this.client.name,
			email: this.client.email
		};
	},
	validations: {
		name: {
			required
		},
		email: {
			required,
			email
		}
	},
	methods: {
		openModal(e) {
			$('#' + this.modalId).modal('show');
		},
		deleteClient(e) {
			axios
				.delete(route('api.clients.destroy', this.client).url())
				.then(response => {
					this.isDeleted = true;
					swal('Good job!', 'Client deleted!', 'success');
				})
				.catch(error => {
					swal('Info!', 'Client can not be delete!', 'warning');
				});
		},
		updateClient(e) {
			axios
				.put(route('api.clients.update', this.client).url(), { name: this.name, email: this.email })
				.then(response => {
					$('#' + this.modalId).modal('hide');
					this.isUpdated = true;
					let updateClient = response.data;
					this.client.name = updateClient.name;
					this.client.email = updateClient.email;
					swal('Good job!', 'Client updated!', 'success');
				})
				.catch(error => {
					let data = error.response.data;
				});
		}
	}
};
</script>
